.component {
  // opacity: 0.3;
  position: absolute;
  display: flex;
  z-index: 1;
  top: 4px;
  left: 4px;
  padding: 10px;
  background-color: #82E331;
  border: 3px solid red;
  border-radius: 5px;
  button {
    width: 200px;
    height: 26px;
    margin: 8px;
  }
  .devArea {
    margin-bottom: 10px;
  }
  .deviceBlock {
    margin-bottom: 6px;
  }
  .visibilityInfo {
    text-align: center;
    font-size: 9px;
  }
  .column1 {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
  }
  .column2 {
    background-color: #F8D11F;
    .transportSelection {
      background-color: #10F1E7;
      margin-bottom: 5px;
      .tranportLabel {
        font-size: 14px;
      }
    }
  }  
}
.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}