$ShadowHeightChrome: 292px;
$ShadowWidthChrome: 454px;

.componentChrome {
  display: inline-flex;
  width: 100%;
  opacity: 0.8;
  min-height: 320px;
  background-color: #060D24;  // TODO, add

  .dialogShadow {
    margin: 0 auto;
    height: $ShadowHeightChrome;
    width: $ShadowWidthChrome;
    
    .textBlock {
      position: relative;
      top: $ShadowHeightChrome - 45;
      left: $ShadowWidthChrome + 10;
      color: white;
  
      .arrow {
        height: 18px;
        width: 18px;
        vertical-align: sub;
      }
  
      .text {
        line-height: 18px;
        font-size: 12px;
        margin-left: 4px;
      }
    }    
  }
}

.componentFirefox {
  display: inline-flex;
  width: 100%;
  opacity: 0.8;
  height: 160px;
  background-color: #060D24;  // TODO, add

  .dialogShadow {
    margin: 0 auto;
    height: $ShadowHeightChrome;
    width: $ShadowWidthChrome;
    
    .textBlock {
      position: relative;
      top: $ShadowHeightChrome - 45;
      left: $ShadowWidthChrome + 10;
      color: white;
  
      .arrow {
        height: 18px;
        width: 18px;
        vertical-align: sub;
      }
  
      .text {
        line-height: 18px;
        font-size: 12px;
        margin-left: 4px;
      }
    }    
  }
}