$ShadowHeight: 292px;
$ShadowWidth: 454px;

.component {
  display: inline-flex;
  width: 100%;
  opacity: 0.8;
  height: 320px;
  background-color: #060D24;  // TODO, add

  .dialogShadow {
    margin: 0 auto;
    height: $ShadowHeight;
    width: $ShadowWidth;
    
    .textBlock {
      position: relative;
      top: $ShadowHeight - 45;
      left: $ShadowWidth + 10;
      color: white;
  
      .arrow {
        height: 18px;
        width: 18px;
        vertical-align: sub;
      }
  
      .text {
        line-height: 18px;
        font-size: 12px;
        margin-left: 4px;
      }
    }    
  }
}