.component {
  width: 100%;
  min-height: 310px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.8;
  background-color: #060D24; // TODO, add
  .warningBlock {
    display: flex;
    margin-bottom: 6px;
    .warningIcon {
      height: 16px;
      width: 22px;
      vertical-align: sub;
    }
    .text {
      height: 18px;
      color: #ffffff;
      line-height: 18px;
      font-size: 11px; // TODO, add
    }
  }
}

.componentFirefox {
  min-height: 160px;
}