$footerMargin: 50px;

.component {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$footerMargin});
  .title {
    height: 58px;
    text-transform: uppercase;
    color: #38393D;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}