.component {
  .navigator {
    display: inline-flex;
    width: 100%;

    // TODO: make it mixins
    button {
      background: none;
      border: none;
      padding: 0;

      &:focus {
        outline: 0;
      }
    }

    .wallet {
      display: inline-flex;
      width: 50%;
      height: 50px;
      background-color: #F0F3F5; // TODO
      cursor: pointer;

      .text {
        width: fit-content;
        margin: auto;
        height: 20px;
        color: #38393D; // TODO
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }

    .selected {
      cursor: default;
      background-color: #FFFFFF; // TODO
    }    
  }
}