.component {
  background-color: aqua; // TODO, detete

  .navigator {
    background-color: azure;  // TODO, detete
    display: inline-flex;
    width: 100%;

    .wallet {
      display: inline-flex;
      background: none;
      border: none;
      padding: 0;      
      width: 50%;
      height: 50px;
      background-color: #F0F3F5; // TODO
      cursor: pointer;

      &:focus {
        outline: 0;
      }      

      .text {
        width: fit-content;
        margin: auto;
        height: 20px;
        color: #38393D; // TODO
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }

    .selected {
      cursor: default;
      background-color: #FFFFFF; // TODO
    }    
  }

  .targets {

  }
}