.component {
  // background-color: greenyellow; // TODO: Delete, its just for initial test
  margin-top: 26px;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;  
  text-transform: uppercase;
  color: #38393D;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  height: 20px;
}