@import '../../../cmn-style/mixin/underline.scss';
@import '../../../cmn-style/mixin/button.scss';

.component {
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  .deviceSelection {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    .title {
      text-align: center;
      margin-bottom: 34px
    }
    @include buttonDefault;
    .device {
      width: 400px;
      height: 48px;
      border-radius: 8px;
      margin-bottom: 36px;
      cursor: pointer;
      background-color: var(--button-background-color);

      .text {
        height: 21px;
        color: var(--color-white);
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        text-transform: uppercase;
      }
    }
    .device:last-child {
      margin-bottom: 0px;
    }
    .device:hover {
      background-color: var(--button-hover-background-color);
    }
    .device:active {
      background-color: var(--button-active-background-color);
    }
  }
  .videoLink {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
    .videoLinkText,
    .link {
      font-size: 14px;
      height: 22px;
      line-height: 22px;
      color: var(--text-color-3)
    }
    .link {
      @include underline(var(--text-color-3));
    }
    .linkIcon {
      margin-left: 4px;
    }
  }
}