@import '../../../cmn-style/mixin/underline.scss';

.component {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .deviceSelection {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    .title {
      text-align: center;
      margin-bottom: 34px
    }
    // TODO: make it mixins
    button {
      background: none;
      border: none;
      padding: 0;
    
      &:focus {
        outline: 0;
      }
    }      
    .device {
      width: 400px;
      height: 52px;
      border-radius: 8px;
      margin-bottom: 28px;
      cursor: pointer;
      background-color: #17D1AA; // TODO

      .text {
        height: 21px;
        color: #FFFFFF; // TODO
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        text-transform: uppercase;
      }
    }
    .device:last-child {
      margin-bottom: 0px;
    }
    .device:hover {
      background-color: rgb(107, 228, 185); // TODO
    }
    .device:active {
      background-color: rgb(99, 211, 171) // TODO
    }
  }
  .videoLink {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
    .videoLinkText,
    .link {
      font-size: 14px;
      height: 22px;
      line-height: 22px;
      color: #38393D;
    }
    .link {
      @include underline(#38393D);
    }
    .linkIcon {
      margin-left: 4px;
    }
  }
}