.component {
  .topWrapper {
    margin-bottom: 16px;
    height: 98px;
    width: 490px;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.22);

    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      float: left;
      margin-left: 16px;
      margin-right: 12px;

      .numberCircle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #FFFFFF;
        height: 24px;
        width: 24px;
        background-color: #1A44B7; // TODO, add variables
        font-size: 14px;
        line-height: 24px;
      }
    }

    .text {
      display: flex;
      text-align: left;
      align-items: center;
      height: inherit;
      color: #38393D;
      font-size: 14px;
      line-height: 20px;
      padding: 16px 16px 16px 0px;
    }
  }
}