.component {
  .topWrapper {
    margin-bottom: 12px;
    height: 60px;
    width: 480px;

    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 24px;
      float: left;
      margin-right: 8px;

      .numberCircle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        background-color: #F2F4FB; // TODO, add variables
      }
    }
    .text {
      display: flex;
      text-align: left;
      align-items: center;
      height: 60px;
    }
  }

  .image {
    height: 172px;
    width: 480px;
  }
}