.component {
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  background-color: #e4f6f2;  // TODO
  box-shadow: 0 2px 40px 0 rgba(242, 242, 242, 0.5);  // TODO

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    .headerSVG {
      width: 20px;
      height: 20px;
    }
  
    .headerText {
      text-transform: uppercase;
      color: #17D1AA; // TODO
      height: 20px;
      font-size: 16px;
      font-weight: 800;
      line-height: 19px;
    }    
  }

  .noteContent {
    padding-top: 8px;
    color: #38393D; // TODO
    font-size: 12px;
    line-height: 18px;
  }
}