.component {
  // height: 100vh;
  margin-left: auto;
  margin-right: auto;
  // background-color: pink; // TODO: Delete, its just for initial test

  .contentInCenter {
    display: block;
    text-align: center;
  }

  .webAuthnTopGap {
    height: var(--webauthn-layout-top-gap);
    visibility: hidden;
  }
}