.component {
  margin-left: auto;
  margin-right: auto;
  width: var(--width-layout);
  padding: var(--padding-layout);
  border: 3px solid green; // TODO: Delete, its just for initial test
  background: pink; // TODO: Delete, its just for initial test

  .webAuthnTopGap {
    margin-top: var(--margin-layout-top-webauthn);
  }
}