.component {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: pink; // TODO: Delete, its just for initial test

  .contentInCenter {
    display: inline-block;
  }

  .webAuthnTopGap {
    margin-top: var(--margin-layout-top-webauthn);
  }
}