.component {
  width: 100%;
  .stepsRowOne {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    .gap {
      width: 40px;
    }

    :global(.HintBlock_component) {
      width: 260px;
      // Fix Height mis-match
    }
  }
}