.component {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: flex-end;
  .wrapper {
    margin-right: 20px;
    .textLine {
      color: #ADAEB6; // TODO, add
      font-size: 12px;
      line-height: 14px;    
    }    
  }
}