.component {
  width: 100%;
  .stepsRow {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    :global(.HintBlock_component) {
      width: 38vh;
    }
  }
}