.component {
  display: inline-flex;
  padding-top: 40px;
  height: 400px; // TODO
  width: 100%;

  .left {
    width: 50%;
    
    .innerBlock {
      width: 490px;
      margin-right: 46px;
      margin-left: auto;

      .topInfo {
        height: 22px;
        color: #676970;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .right {
    width: 50%;
  }
}