.component {
  display: inline-flex;
  width: 100%;

  .topBlock {
    height: 86px;
  }

  .left {
    width: 50%;
    
    .innerBlock {
      width: 490px;
      margin-right: 46px;
      margin-left: auto;

      .performActionText {
        padding-top: 40px;
        height: 22px;
        color: #676970;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .right {
    width: 50%;
  }
}